
#main{
	border : 0px solid black;
	width : 100%;
	margin: 0px auto;
}
/* ----------------------------------------------------main-----------------------------*/

#top{
	width : 100%;
	height: 85px;
	border-bottom : 2px solid #999;
	
}

#top #topContent{
	width : 1000px;
	height: 85px;
	margin: 0px auto;
	border: 0px solid red;
}

#top #topContent #topRight{
	width : 730px;
	height: 85px;
	border-bottom : 0px solid #999;
	margin: 0px auto;
	
}
#top #topContent #topRight{
	width : 730px;
	height: 80px;
}

#top #topContent div{
	float: left;
}

#top #mainImage{
	border : 0px solid black;
	width : 260px;
	height: 80px;
	float: left;
	
}

#top #mainImage img{
	border : 0px solid black;
	width : 260px;
	height: 80px;
	
	border : 0px solid black;
	width : 260px;
	height: 70px;
	float: left;
	margin-top: 10px;
	
}
#top #mainImage img{
	border : 0px solid black;
	width : 260px;
	height: 70px;
	cursor: pointer;
	
}
#top #auth{
	border : 0px solid black;
	width : 720px;
	height: 30px;
	float: left;
}

#top #auth .loginForm{
	border : 0px solid black;
	width : 70px;
	height : 30px;
	float: right;
	margin-top: 10px;
	
}

#top #topMenu{
	border : 0px solid black;
	width : 720px;
	height: 50px;	
	float: left;
}

#top #topMenu .menuLink{
	border : 0px solid black;
	width :  100px;
	height: 50px;
	text-align: center;	
	float: left;
	padding-top: 20px;
}
/* ----------------------------------------------------TOP-----------------------------*/

#middle{
	margin: 30px 0px;
	width: 100%;
}

#middle .mainImg{
	border: 1px solid white;
	width: 100%;
	height: 500px;
}

#middle .mainImg img{
	width: 100%;
	height: 500px;
}

#middle #hotCount{
	margin: 50px auto;
	border: 1px solid black;
	background-image:url("../images/main4.png");
	width: 100%;
	height: 200px;
}

#middle #hotCount .countBox{
	border: 0px solid red;
	margin: 50px auto;
	width: 1000px;
	height: 110px; 
}

#middle #hotCount .countBox .userCount,#middle #hotCount .countBox .clubCount,#middle #hotCount .countBox .fsCount,#middle #hotCount .countBox .matchCount{
	border: 1px solid #999;
	width: 200px;
	height: 110px;
	float: left;
	margin-left: 30px;
	color: white;
	text-align: center;
}

.userCount .counter, .clubCount .counter, .fsCount .counter, .matchCount .counter{
	margin-top: 30px;
	font-size: 35px;
}

.userCount h4, .clubCount h4, .fsCount h4, .matchCount h4{
	color: #999;
}

.userCount div, .clubCount div, .fsCount div, .matchCount div{
	margin-top: 10px;
}


/* ----------------------------------------------------middle-----------------------------*/

#bottom{
	width: 100%;
	height: 300px;
	margin-top: 150px;
	background-color: #252525;
	color: white;
}

#bottom .copyright1{
	width: 100%;
	height: 200px;
	background-color: #222222;
}

#bottom .copyright1 .copyright2{
	margin: 0px auto;
	margin-top: 50px;
	width: 1000px;
	height: 200px;
	border: 1px solid #222222;
}

#bottom .copyright1 .copyright2 p{
	margin: 20px 10px;
}
/* --------------------------------------------------bottom-------------------------------*/


#tbl{
	
	width: 1000px;
	margin: 30px auto;
	text-align: center;
}



/* --------------------------------------------------테이블-------------------------------*/
