
#main{
	border : 0px solid black;
	width : 100%;
	margin: 0px auto;
}

#top{
	width : 100%;
	height: 50px;
	border : 1px solid #999;
}

#top #auth{
	border : 1px solid black;
	width : 1000px;
	height: 50px;
}

#top #auth .loginForm{
	border : 1px solid black;
	width : 50px;
	float: left;
	
}

#titleBanner{
	clear : both;
	text-align: center;
	margin: 30px;
}

#titleBanner img{
	height: 80px;
}

#middle{
	min-height: 700px;
}

#bottom{
	width: 100%;
	height: 300px;
	background-color: #252525;
	color: white;
}

#bottom .copyright1{
	width: 100%;
	height: 200px;
	background-color: #222222;
}

#bottom .copyright1 .copyright2{
	margin: 0px auto;
	margin-top: 50px;
	width: 1000px;
	height: 200px;
	border: 1px solid #222222;
}

#bottom .copyright1 .copyright2 p{
	margin: 20px 10px;
}




